<li class="<%= cycle 'odd', 'even' %>">
  <% if current_user %>
    <span class="name large-3 small-3 medium-3"><%= link_to message.author, author_path(message.author) %></span>
  <% else %>
    <span class="blur name large-3 small-3 medium-3" title="Log in to access messages by names.">
      <%= link_to Faker::Name.name, '#' %>
    </span>
  <% end %>
  <span class="message-body large-7 medium-7 small-7">
    <%= linkify message.body %>
    <span class="message-date weak"> (<%= message.time.strftime('%Y-%m-%d') %>)</span>
  </span>
</li>
