<% if params[:week] %>

  <h1>Week <%= params[:week] %> - <%= WEEK_TOPICS[params[:week].to_i - 1]%></h1>

  <ul>
    <% @messages.each do |message| %>
      <li class="<%= cycle 'odd', 'even' %>">
        <span class="name large-3 small-3 medium-3"><%= message.author %></span>
        <span class="message-body large-7 medium-7 small-7"><%= linkify message.body %></span>
      </li>
    <% end %>
  </ul>
<% end %>