<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Hip Ass Fools', root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul>
      <li><%= link_to 'Favorites', favorites_path %></li>
    </ul>
  </section>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% unless devise_controller? %>
        <li class="has-form">
          <form action="<%= search_path %>" id="search-form">
            <div class="row collapse">
              <div class="large-10 small-9 columns">
                <input type="text" id="search" name="name" placeholder="Tag names(s) or Author first name">
              </div>
              <div class="large-2 small-3 columns">
                <input type="submit" class="button expand" value="Search" />
              </div>
            </div>
          </form>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="padding-right"><%= link_to current_user.name, author_path(current_user.name) %></li>
        <li class="padding-right"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% elsif !devise_controller? %>
        <li><%= link_to 'Sign in', new_user_session_path(redirect: request.fullpath) %></li>
        <li><%= link_to 'Sign up', new_user_registration_path(redirect: request.fullpath) %></li>
      <% end %>
    </ul>
  </section>
</nav>